
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var loaiSP = (List<Model.EF.SanPham>)ViewBag.ChiTiet;
}

@model Model.EF.SanPham

<div class="row p-0">
    <div class="col-sm-12 bg-white">
        <div class="row mb-3">
            <div class="col-sm-12 p-0">
                <div class="category-title py-2 ">
                    <h4 class="text-uppercase pl-3">thông tin chi tiết</h4>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4 p-0">
                <img src="~/Image/SanPham/@Model.HinhAnh" alt="" class="img-details">
            </div>

            <div class="col-sm-8">
                <h3 class="name font-weight-bold">
                    @Model.TenSP
                </h3>
                <p class="desciption">
                    @if (@Model.Mota == null)
                    {
                        @Html.Raw(" ")
                    }
                    else
                    {
                        @Html.Raw(@Model.Mota.ToString())
                    }
                </p>
                @if (Model.GiamGia == 0)
                {
                    <div class="price text-danger font-weight-bold">
                        @String.Format("{0:0,0}", Model.GiaBan) ₫
                    </div>
                }
                else
                {
                    <div class="text-dark font-weight-bold price">
                        <strike>@String.Format("{0:0,0}", Model.GiaBan) ₫</strike>
                    </div>
                    <div class="price text-danger font-weight-bold">
                        @String.Format("{0:0,0}", Model.GiaMoi) ₫
                    </div>
                }
                <div class="brand text-secondary my-3">
                    Loại sản phẩm: @Model.ThuongHieu
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row mb-3">
                    <div class="col-sm-12 p-0">
                        <div class="category-title py-2 mt-5">
                            <h4 class="text-uppercase pl-3">SẢN PHẨM CÙNG LOẠI</h4>
                        </div>
                    </div>

                </div>

                <div class="row products flex-wrap">
                    @foreach (var item in loaiSP)
                    {
                        <div href="#" class="card col-sm-2 product">
                            <a href="#" class="text-decoration-none">
                                <img class="card-img-top" src="~/Image/SanPham/@item.HinhAnh" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@item.TenSP</h5>
                                </div>
                            </a>
                            <div class="mt-2 pt-3">
                                <div class="ml-3 mb-3 text-danger font-weight-bold price">@String.Format("{0:0,0}", item.GiaBan) ₫</div>
                            </div>
                            <a href="@Url.Action("ChiTiet", "TrangChu", new { id = item.MaSP })" class="btn btn-dark btn-more-details">Xem chi tiết <i class="fas fa-info-circle"></i></a>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <a href="@Url.Action("PhanLoaiSanPham", "TrangChu", new { id = Model.MaLoaiSP })" class="btn btn-outline-info mt-3 px-4">Xem tất cả</a>
    </div>
</div>
