@model Model.EF.KhachHang

@{
    Layout = null;
}

<div class="modal-header bg-purple">
    <h4 class="modal-title">Thông tin khách hàng</h4>
</div>

<div class="modal-body dl-horizontal">
    <table class="table table-striped table-bordered ">
        <tr>
            <td>@Html.DisplayNameFor(model => model.TenKH)</td>
            <td align="left">@Html.DisplayFor(model => model.TenKH)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.NgayDangKi)</td>
            <td align="left">@Html.DisplayFor(model => model.NgayDangKi)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.GioiTinh)</td>
            <td align="left">@Html.DisplayFor(model => model.GioiTinh)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SoCMND)</td>
            <td align="left">@Html.DisplayFor(model => model.SoCMND)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.NgaySinh)</td>
            <td align="left">@BanHang.Common.Format.FormatDate(Model.NgaySinh)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SoDT)</td>
            <td align="left">@Html.DisplayFor(model => model.SoDT)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DiaChi)</td>
            <td align="left">@Html.DisplayFor(model => model.DiaChi)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Facebook)</td>
            <td align="left">@Html.DisplayFor(model => model.Facebook)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td align="left">@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.GhiChu)</td>
            <td align="left">@Html.DisplayFor(model => model.GhiChu)</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
</div>
