@model Model.EF.NhaCungCap

@{
    Layout = null;
}

@using (Html.BeginForm("CapNhat", "NhaCungCap", FormMethod.Post))
{
    <div class="modal-header bg-maroon">
        <h4 class="modal-title">Cập nhật thông tin</h4>
    </div>

    <div class="modal-body form-horizontal">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MaNCC)

        <div class="form-group">
            @Html.LabelFor(model => model.TenNCC, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.TenNCC, new { @class = "form-control", required = "required" })   
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDT, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.SoDT, new { @class = "form-control", type = "number", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaThue, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.MaThue, new { @class = "form-control", required = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control", rows = "5", cols = "20" })
            </div>
        </div>

        <div class="modal-footer">
            <div class="clearfix text-right">
                <button type="submit" class="btn bg-maroon btn-lg">Cập nhật</button>
                @Html.ActionLink("Đóng", "Index", null, new { @class = "btn btn-default btn-lg", onclick = "return confirm('Các thay đổi sẽ không được cập nhật. Bạn vẫn muốn trở về danh sách?');" })
            </div>
        </div>
    </div>
}


