@model Model.EF.NhanVien

@{
    ViewBag.Title = "Hồ sơ cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Tác vụ</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Image/NhanVien/@Model.HinhAnh" alt="User profile picture">
                    <h3 class="profile-username text-center">@Model.TenNV</h3>
                    <p class="text-muted text-center">@Model.MaVaiTro</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Tài Khoản</b> <a class="pull-right">@Model.TaiKhoan</a>
                        </li>
                        <li class="list-group-item">
                            <b>Chức vụ</b> <a class="pull-right">@Model.ChucVu</a>
                        </li>
                        <li class="list-group-item">
                            <b>Sinh nhật</b> <a class="pull-right">@BanHang.Common.Format.FormatDate(Model.NgaySinh)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Thông tin</a></li>
                    <li><a href="#settings" data-toggle="tab">Đổi mật khẩu</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        @using (Html.BeginForm("ProfileUpdate", "ThongTinCaNhan", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.MaNV, new { @class = "form-control" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.SoCMND, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.SoCMND, new { @class = "form-control " })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.NgaySinh, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SoDT, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.SoDT, new { @class = "form-control " })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Email, new { @class = "form-control " })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.DiaChi, new { @class = "form-control " })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <button type="submit" class="btn btn-danger">Cập nhật</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-pane" id="settings">
                        @using (Html.BeginForm("ThayDoiMatKhau", "ThongTinCaNhan", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.MaNV)
                            <div class="form-group">
                                @Html.Label("Mật khẩu hiện tại", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.Password("MatKhauCu")
                                    @*@ViewData["SaiMatKhau"]*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Mật khẩu mới", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.Password("MatKhauMoi")                                  
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Nhập lại mật khẩu mới", new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-6">
                                    @Html.Password("NhapLaiMK")
                                    @*@ViewData["KhacMatKhau"]*@
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <button type="submit" class="btn btn-success">Lưu</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

