
@model PagedList.IPagedList<Model.EF.NhanVien>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Tác vụ</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div>
                    <a href="@Url.Action("Ds_NhanVien","NhanVien")" class=" btn btn-primary btn-lg pull-right">
                        Xuất Excel
                    </a>
                    <a href="@Url.Action("ThemMoi","NhanVien")" class="btn bg-olive btn-lg pull-left" data-toggle="modal" data-target="#modal-themMoi" data-backdrop="static" data-keyboard="false">
                        Thêm Mới
                    </a>
                    <div class="modal fade " id="modal-themMoi">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
                {
                    <div class="input-group">
                        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="Tìm kiếm theo Tên hoặc Chức vụ">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                }
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="background-color:#80d6ff; font-size: 15px; text-align: center">Mã NV</th>
                            <th style="background-color:#80d6ff; font-size : 15px; text-align: center">Tên nhân viên</th>
                            <th style="background-color:#80d6ff; font-size : 15px; text-align: center">Số chứng minh</th>
                            <th style="background-color:#80d6ff; font-size : 15px; text-align: center">Số điện thoại</th>
                            <th style="background-color:#80d6ff; font-size : 15px; text-align: center">Ngày sinh</th>
                            <th style="background-color:#80d6ff; font-size : 15px; text-align: center">Giới tính</th>
                            <th style="background-color:#80d6ff; font-size : 15px; text-align: center">Email</th>
                            <th style="background-color:#80d6ff; font-size : 15px; text-align: center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td style="padding-top: 12px;text-align: center">@item.MaNV</td>
                            <td style="padding-top: 12px;text-align: center">@item.TenNV</td>
                            <td style="padding-top: 12px;text-align: center">@item.SoCMND</td>
                            <td style="padding-top: 12px;text-align: center">+84 @item.SoDT</td>
                            <td style="padding-top: 12px;text-align: center">@BanHang.Common.Format.FormatDate(item.NgaySinh)</td>
                            <td style="padding-top: 12px;text-align: center">@item.GioiTinh</td>
                            <td style="padding-top: 12px;text-align: center">@item.Email</td>
                            <td class="text-center">
                                <a href="/NhanVien/ThongTin/@item.MaNV" class="btn bg-purple btn_details" style="border-radius: 15px">Chi tiết</a>
                                <a href="/NhanVien/CapNhat/@item.MaNV" class="btn bg-maroon btn_update" style="border-radius: 15px" data-toggle="modal" data-target="#modal-capNhat-@item.MaNV" data-backdrop="static" data-keyboard="false">Sửa</a>
                                <div class="modal fade " id="modal-capNhat-@item.MaNV">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                                <a href="/NhanVien/Xoa/@item.MaNV" class="btn bg-navy btn_delete" style="border-radius: 15px" data-toggle="modal" data-target="#modal-Xoa-@item.MaNV"> Xóa</a>
                                <div class="modal fade " id="modal-Xoa-@item.MaNV">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.Search }))
            </div>
        </div>
    </div>
</div>

