@model Model.EF.NhanVien

@{
    ViewBag.Title = "Thông tin nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Tác vụ</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="col-md-3 text-center">
                    <p>
                        <img style="margin-top:0px" src="~/Image/NhanVien/@Model.HinhAnh" width="200" height="180" />
                    </p>
                    <h4>
                        <p>Mã số: @Html.DisplayFor(m => m.MaNV)</p>
                    </h4>
                </div>
                <div class="col-md-4">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.TenNV)</td>
                            <td>@Html.DisplayFor(model => model.TenNV)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.GioiTinh)</td>
                            <td>@Html.DisplayFor(model => model.GioiTinh)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.NgaySinh)</td>
                            <td>@BanHang.Common.Format.FormatDate(Model.NgaySinh)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.SoCMND)</td>
                            <td>@Html.DisplayFor(model => model.SoCMND)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.DiaChi)</td>
                            <td>@Html.DisplayFor(model => model.DiaChi)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.NgayThamGia)</td>
                            <td>@BanHang.Common.Format.FormatDate(Model.NgayThamGia)</td>
                        </tr>

                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.ChucVu)</td>
                            <td>@Html.DisplayFor(model => model.ChucVu)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MucLuong)</td>
                            <td>@String.Format("{0:0,0}", Model.MucLuong) VNĐ</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.SoDT)</td>
                            <td>+84 @Html.DisplayFor(model => model.SoDT)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.TaiKhoan)</td>
                            <td>@Html.DisplayFor(model => model.TaiKhoan)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MatKhau)</td>
                            <td>@Html.DisplayFor(model => model.MatKhau)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Email)</td>
                            <td>@Html.DisplayFor(model => model.Email)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.GhiChu)</td>
                            <td>
                                <a href="#noiDung" data-toggle="modal">Xem nội dung</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix text-right">
                    @Html.ActionLink("Về danh sách", "Index", null, new { @class = "btn bg-navy btn-lg" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="noiDung">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                <h4 class="modal-title">Ghi chú</h4>
            </div>
            <div class="modal-body">
                <div class="box-body" style="height:400px">
                    @Html.Raw(Model.GhiChu)
                </div>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>